@model List<StreetFighter.Dominio.Personagem>
@{
    ViewBag.Title = "Lista Personagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <a href="~/StreetFighter/Cadastro">
        Cadastrar novo personagem
    </a>
    @foreach (var personagem in Model)
    {
        <a href="~/Controllers/StreetFighterController/FichaTecnica/@personagem.Id" style="display:inline-block; margin: 10px;">@personagem.Nome</a>
    }
</div>