
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="principal">
        <div class="menu">
            <a href="~/StreetFighter">
                Início
            </a>
            <a href="~/StreetFighter/Cadastro">
                Cadastro
            </a>
            <a href="~/StreetFighter/FichaTecnica">
                Ficha Técnica
            </a>
            <a href="~/StreetFighter/SobreMim">
                Sobre
            </a>
        </div>
        <div class="conteudo">
            <div class="cabecalho">
                <h2>@ViewBag.Title</h2>
            </div>
            @RenderBody()
        </div>
    </div>
</body>
</html>

