@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PRODUTOS</h1>
</div>

<div class="row">
    @{if (Model.Produtos != null)
    {
        foreach (var produto in Model.Produtos)
        {
            <div class="col-md-4">
                <h2>@produto.Nome</h2>
                <p>
                    Valor: R$ @produto.Valor
                </p>
                <a class="glyphicon glyphicon-pencil" href="~/Home/Manter/@produto.Id"></a>
                <a class="glyphicon glyphicon-pencil" href="~/Home/Remover/@produto.Id"></a>
            </div>
        }
    }
    else
    {
        <h2>Nenhum produto cadastrado!</h2>
    }
    }
</div>